<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <table>
    <tr>
      <td>Nr konta (1,2,3)</td>
      <td>
        <input type="text" [(ngModel)]="kontoNr" />
      </td>
    </tr>
    <tr>
      <td>Kwota</td>
      <td><input type="text" [(ngModel)]="kwota" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="wplac()">Wpłać</button>
        <button (click)="wyplac()">Wypłać</button>
      </td>
    </tr>
  </table>
  <br />
  <br />
  <button (click)="informacje()">Informacje o koncie</button>
  <div *ngIf="info">
    <table>
      <tr>
        <td>Nr konta</td>
        <td align="right">{{info.numer}}</td>
      </tr>
      <tr>
        <td>Saldo</td>
        <td align="right">{{info.saldo}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td align="right">{{info.kontoStatusOpis}}</td>
      </tr>
    </table>
  </div>
</body>
</html>
